/* FONTS */

/* font-family: 'Kaushan Script', cursive;
font-family: 'Kristi', cursive;
font-family: 'Montez', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif; 
font-family: 'Julius Sans One', sans-serif;*/

:root {
  --title-font: "Kristi", cursive;
  --body-font: "Raleway", sans-serif;
  --secondary-title-font: "Julius Sans One", sans-serif;
  --box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  --accent-color: #ffe8c5;
}

body {
  background: #fff;
}

h1 {
  font-family: var(--title-font);
  font-size: 80px;
  margin: 10px;
}

h2 {
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 20px;
  color: #aaa;
}

h5 {
  font-style: italic;
  font-family: var(--secondary-title-font);
  color: #aaa;
}

.heading {
  color: #aaa;
  margin: 50px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 34px;
  padding: 30px;
}

.home-hero {
  background: var(--accent-color);
  margin: 0;
  text-align: center;
  padding: 350px;
}

.main-contact-btn {
  text-decoration: none;
  border: 1px solid #000;
  margin-top: 40px;
  color: #000;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: var(--title-font);
  transition: all ease-in-out 200ms;
  font-size: 40px;
}

.main-contact-btn:hover {
  background: #aaa;
  border: 1px solid #aaa;
  color: white;
}

.project-launch-btn {
  border: 1px solid #000;

  border-radius: 5px;
  padding: 10px 20px;
  font-family: var(--secondary-title-font);
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: all ease-in-out 200ms;
}

.project-launch-btn:hover {
  background: #000;
  color: #fff;
}

.project-heading {
  color: #000;
  font-family: var(--secondary-title-font);
  font-size: 22px;
}

.white-paragraph {
  color: #aaa;
  line-height: 1.5;
}

.about-paragraph {
  line-height: 1.5;
  font-size: 16px;
}

.non-image {
  background: var(--accent-color);
  margin-top: 0;
  padding: 150px;
  box-shadow: var(--box-shadow);
}

.headshot-side {
  padding: 150px;
}

img {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid #000;
}

.projects-btn {
  border: 1px solid #000;
  background: var(--accent-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: var(--secondary-title-font);
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: all ease-in-out 200ms;
}

.projects-btn:hover {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.about-subheading {
  font-family: var(--secondary-title-font);
  font-weight: bold;
  font-size: 26px;
}

.about-heading {
  font-size: 36px;
  font-family: var(--secondary-title-font);
}

.headshot {
  width: 250px;
  height: auto;
  margin: 30px;
}

.work p {
  font-family: var(--body-font);
  color: #aaa;
}

.work-subtitle {
  font-family: var(--title-font);
  font-size: 50px;
}

.work-project-titles {
  font-family: var(--secondary-title-font);
  color: #000;
}

.hero {
  background: var(--accent-color);
  margin: 0;
  text-align: center;
  padding: 150px;
  box-shadow: var(--box-shadow);
}

.heading p {
  font-family: var(--title-font);
  font-size: 60px;
}

.top-link {
  text-decoration: none;
  color: #aaa;
  font-family: var(--secondary-title-font);
}

.top-link:hover {
  font-style: italic;
  color: #000;
  background: var(--accent-color);
  padding: 10px 20px;
  border-radius: 5px;
}

/* MEDIA QUERY */

@media (max-width: 576px) {
  .app-photo {
    display: none;
  }

  .white-paragraph {
    text-align: center;
  }

  .home-hero {
    padding: 350px 0;
  }

  .home-hero h1 {
    text-align: center;
    font-size: 60px;
  }

  .heading,
  .about-heading {
    font-size: 30px;
    padding: 0;
  }

  h2 {
    font-size: 16px;
  }

  .about-paragraph {
    font-size: 14px;
  }

  .about-subheading {
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #aaa;
    font-weight: bolder;
  }

  .headshot-side {
    padding: 0;
    margin: 0;
  }

  .headshot {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 0;
  }

  .about-heading {
    font-size: 32px;
    margin: 0;
  }

  .about {
    text-align: center;
    margin: 0;
  }

  .non-image {
    background: var(--accent-color);
    margin: 0;
    padding: 30px;
    text-align: center;
  }

  .projects-btn {
    font-size: 12px;
  }

  .work h2,
  p {
    text-align: center;
  }
}
